@import "tailwindcss";

@theme {
    --z-110: 110;
}

@custom-variant widescreen (@media (min-aspect-ratio: 3/2));
@custom-variant tallscreen (@media (min-aspect-ratio: 1/2));


@utility section-min-height {
    min-height: 100vh;

    @variant widescreen {
        min-height: calc(100vh - 50px);
    }
    @variant tallscreen {
        min-height: calc(100vh - 50px);
    }
}


